/*AdminSetup Syles von Josef*/


.leftpadding{padding-left:28px;}
.toptext{padding-left:10px;}
.paragraphtext{font-family:'Segoe UI';}
.anchornounderline{text-decoration:none;}
.bottomatbutton{padding-bottom:38px;}
.divinputpadding{padding:10px;border:solid 2px #054588;border-radius:5px;}
.divinputpadding:hover{box-shadow:0 0 2px 2px #054588;}
.paddingtop{padding-top:40px;}
.divinputpadding:focus{box-shadow:0 0 2px 2px #054588;}


.errorMsg {
    color: red;
    display:inline-block;
    font-weight: bold;
    /*padding:5px;*/
    /*border:solid 2px #054588;
    border-radius:5px;*/
    /*margin-left:38px;*/
}

.errorMsg02{
    color:red;
    font-weight:bold;
}

/*-------------- Ende -----------------------*/
.adminstyle{
    color:#054588;
    font-size:110%;
    font-weight:bold;
}