@import url('Pfeifer.css');

@import url('Josef.css');
@font-face { font-family: 'Segoe UI';
}

body {
    background-color: #B7B7B7;
    margin:0;
    padding:0;
    font-family: 'Segoe UI';
}

header{
    margin-top:20px;
    margin-bottom:100px;
}
   

div{
  padding-left:10px;
  padding-right:10px;
}

h2{
    font-family:'Segoe UI';
    color:#054588;
}


#logo1 {
    margin-left:100px;
}

#logo2 {
    float:right;
    margin-right:100px;
}

section {
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    max-width: 1200px;
    max-height: 1000px;
    min-width: 350px;
    min-height: 420px;
    background-color: white;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}



/* Überschrift */
.left { float: left; position: relative; width: 40%; height: 100%;}
.middle {float: left; position: relative; width: 35%; height: 100%;}
.right { float: left; position: relative;width: 10%; height: 100%; text-align:center;}


/*Button Logout"*/
.logout {
        background-image: url('../../Resources/Logout.png'); 
        height:28px;
        width:108px;
        background-repeat: no-repeat;
        background-position:center;
        border-radius:7px;
        border: solid 2px #054588; 
        margin-top:20px;
        
        }

.logout:hover {
            border: solid 2px #054588;
            border-radius: 7px; 
            box-shadow: 0 0 2px 2px #054588;
        }

/*Button Home*/

.home {
        background-image: url('../../Resources/Home.png'); 
        height:28px;
        width:108px;
        background-repeat: no-repeat;
        background-position:center;
        border-radius:7px;
        border: solid 2px #054588; 
        margin-top:-50px;
        
        
        }

.home:hover {
            border: solid 2px #054588;
            border-radius: 7px; 
            box-shadow: 0 0 2px 2px #054588;
        }

/*-------------------MENU BUTTONS Style --------------------------------------*/

.leftLamp { float: left; position: relative; width: 35%; height: 100%;}
.middleUser {float: left; position: relative; width: 35%; height: 100%;}
.rightStatistic { float: left; position: relative;width: 20%; height: 100%;}


.leftLampSetup { float: left; position: relative; width: 35%; height: 100%;}
.middleGroup {float: left; position: relative; width: 35%; height: 100%;}
.rightLampAssigment { float: left; position: relative;width: 20%; height: 100%;}

/*---------------------------END----------------------------------------------*/

/*Button LampControl*/
.LampControl {
    background-image: url('../Resources/LampControl.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 20px;
    border: solid 2px #054588;
    margin-left:20px;
}

.LampControl:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588;
           
            
        }


/*Button UserSetup*/
.UserSetup {
    background-image: url('../Resources/UserSetup.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: solid 2px #054588;
    
}

.UserSetup:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588; 
            
        }
        
/*Button Statistic*/
.Statistic {
    background-image: url('../Resources/Statistic.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #054588;
    border-radius: 20px;
    
}

.Statistic:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588;
            
        }


/*Button LampSetup*/
.LampSetup {
    background-image: url('../Resources/Lamp Setup.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: solid 2px #054588;
    margin-left:20px;
    margin-top:25px;
}

.LampSetup:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588; 
            
        }


/*Button GroupSetup*/
.GroupSetup {
    background-image: url('../Resources/Group Setup.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #054588;
    border-radius: 20px;
    margin-top:25px;
    
}

.GroupSetup:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588; 
            
        }

/*Button LampAssigment*/
.LampAssigment {
    background-image: url('../Resources/Lamp Assignment.png');
    height: 99px;
    width: 136px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #054588;
    border-radius: 20px;
    margin-top:25px;
 
}

.LampAssigment:hover {
            border: solid 2px #054588;
            border-radius: 20px; 
            box-shadow: 0 0 2px 2px #054588; 
            
        }

/*Button Change Password*/
.ChangePassword {
    background-image: url('../Resources/UserSetup.png');
    height: 99px;
    width: 156px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.ChangePassword:hover {
            border: solid 2px #054588;
            border-radius: 5px;
        }

