.listframe {
    border: solid 2px #054588;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 18px;
    margin-left: 12px;
    margin-bottom: 28px;
    max-width: 450px;
    overflow-y: scroll;
    min-height: 200px;
    max-height: 200px;
}

.listframepadding {
    padding-right: 12px;
    min-width: 173px;
}

.addpadding {
    padding-right: 19px;
    min-width: 173px;
}

.boxdesign {
    padding: 5px;
    border-radius: 5px;
    border: solid 2px #054588;

}

.boxdesign:focus {
    box-shadow:  0 0 2px 2px #054588;
}
.boxdesign:hover {
    box-shadow:  0 0 2px 2px #054588;
}

.boxrow:hover {
    background-color: #e6f2fe;        
}

.toptext8 {
    padding-left: 8px;
}

.menubar {
    float: left;
    font-weight: bold;
}

.menubarentry {
    display: inline-block;
}

.menubarentryactual {
    display: inline-block;
    color: #054588;
}
