

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";

}


<div style="width:100%;">
    <div class="left">
        <h2>Statistic</h2>
    </div>
    <div class="middle">
        <h2>User Name</h2>
    </div>
    <div class="right">
        <a href="~/Logout/Logout">
            <div class="logout"></div>
        </a>
    </div>
</div>

<br />

<div class="linksbündig">
    <div class="liste">
        <table>
            <tr>
                <th align="left">Date</th>
                <th align="left">Time</th>
                <th align="left">Group</th>
                <th align="left">Lamp Status</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="listenpadding">@item.Date</td>
                    <td class="listenpadding">@item.Time</td>
                    <td class="listenpadding">@item.Group</td>
                    <td class="listenpadding">@item.Lampstatus</td>
                </tr>
            }
        </table>
    </div>
</div>

<div style="width:100%;">
    <div class="left">
        <h2></h2>
    </div>
    <div class="middle">
        <h2></h2>
    </div>
    <div class="right">
        <a href="~/User/Index">
            <div class="homeInStatistic"></div>
        </a>
    </div>
</div>


