@model HicsBL.DbAccess.GetLogFile

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";

}

<div>
    <div>
        <a href="~/User/Index"><div class="homepfeifer2"></div></a>

        <a href="~/Logout/Logout"><div class="logoutpfeifer2"></div></a>
    </div>

    <div align="center" class="middlepfeifer">
        <h2>User Statistic</h2>
    </div>
</div>
<br style="clear:both;" />

<div align="center">
    <div class="liste">
        <table>
            <tr>
                <th align="left">Date</th>
                <th align="left">Time</th>
                <th align="left">Group</th>
                <th align="left">Lamp Status</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="listenpadding">@item.Date</td>
                    <td class="listenpadding">@item.Time</td>
                    <td class="listenpadding">@item.Group</td>
                    <td class="listenpadding">@item.Lampstatus</td>
                </tr>
            }
        </table>
    </div>
</div>


