@model HicsMVC.Models.LoginModel

@{
    ViewBag.Title = "LoginController/Login";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@* = @using (Html.BeginForm("Login"(=ActionName), "Login"(=ControllerName), FormMethod.Post)) *@  
@using (Html.BeginForm())
{
    <div class="leftpadding">        
        <h2>Login</h2>           
        <div>
            <p class="paragraphtext">Username:</p>                
            <input class="divinputpadding" type="text" name="Username" placeholder="JohnDoe" required />                        
        </div>
        <div>
            <p class="paragraphtext">Password:</p>                
                <input class="divinputpadding" type="password" name="Password" placeholder="Password123" required />                       
        </div>        
        <div class="bottomatbutton paddingtop">
            <input class="divinputpadding" type="submit" name="LoginButton" value="Login" />@* Submit-Button für Login *@
        </div>      
    </div>
}