@model HicsMVC.BundleConfig

@{
    ViewBag.Title = "LoginController/Login";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<style>
    .linksbuending{
        padding-left: 28px;
    }
</style>
<form method="post" action="#">
    <div class="linksbuending">
        <div>
            <h2>Login</h2>
        </div>    
        <div>
            <p>
                Username <br />
                <input type="text" placeholder="MaxMuster" name="Username" style="padding:10px;" />
            </p>            
        </div>
        <div>
            <p>
                Password <br />
                <input type="password" name="Password" style="padding:10px;"/>
            </p>            
        </div>
        <br />
        <div style="padding-bottom: 80px;">
            <input type="submit" name="LoginButton" value="Login" style="height:39px; width:193px; font-weight:bold;" /> @* Button für Login *@
        </div>      
    </div>
</form>
