@model HicsMVC.Models.LampAssignmentModel
@{
    ViewBag.Title = "Lamp Assignment";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div class="leftpadding">

    @*Überschrift*@
    <div style="width:100%;">
        <div class="left">
            <h2>Lamp Assignment</h2>
        </div>

        <div class="middle">
            <h2></h2>
        </div>
        <div class="right">
            <a href="~/Logout/Logout">
                <div class="logout"></div>
            </a>
        </div>
    </div>

    <br style="clear:both;" />

    @*Combine Group*@

    @using (Html.BeginForm("Assignment", "LampAssignmentController"))
    {
            <table class="toptextscroll">
                <tr>
                    <td class="addpadding">Group</td>
                    <td colspan="2">Lamp</td>
                </tr>

                <tr>
                    <td>@Html.DropDownList("combogroup", new SelectList(Model.grouplist), "--Select Group--")</td>
                    <td class="addpadding">@Html.DropDownList("combolamp", (IEnumerable<SelectListItem>)ViewBag.combolamp, "--Select Lamp--")</td>
                    <td><input class="boxdesign" type="submit" name="assign" value="Assign" /></td>
                </tr>
            </table>

    }


    @*Ausgabeliste*@
    <div class="listframe">
        <table>
            <tr>
                <th align="left">Groupname</th>
                <th align="left">Lampname</th>
                <th></th>
            </tr>
            <tr class="boxrow">
                <td class="listframepadding">DB-ID</td>
                <td class="listframepadding">DB-Desc</td>
                <td><a href="/LampSetup/DeleteLamp/1" class="deletedesign">Delete</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="left"><h2></h2></div>
<div class="middle"><h2></h2></div>
<div class="right">
    <div style="width:100%;">
        <a href="~/Admin/Index"><div class="home"></div></a>
    </div>
</div>