
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div style="width:100%;">
    <div class="left">
        <h2>Main Menu</h2>
    </div>

    <div class="middle">
        <h2>Admin</h2>
    </div>
    <div class="right">
        <div class="logout">
            <a></a>
        </div>
    </div>
</div>

<br>

<div class="leftLamp">
    <div style="width:100%;">
        <a href="~/LampControl/Index">
            <div class="LampControl"></div>
        </a>
    </div>
</div>


<div class="middleUser">
      <div style="width:100%;">
            <a href="~/UserSetup/Index">
                <div class="UserSetup"></div>
            </a>
       </div>
</div>


<div class="rightStatistic">
     <div style="width:100%;">          
         <a href="~/Statistic/Index">
              <div class="Statistic"></div>
         </a>
     </div>
        
</div>

<br />

<div style="width:100%;">
    <div class="leftLampSetup">
        <button class="LampSetup" type="button"></button>
    </div>

    <div class="middleGroup">
        <button class="GroupSetup" type="button"></button>
    </div>
    <div class="rightLampAssigment" style="text-align:center;">
        <button class="LampAssigment" type="button"></button>
    </div>
</div>