
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div style="width:100%;">
    <div class="left">
        <h2>Main Menu</h2>
    </div>

    <div class="middle">
        <h2></h2>
    </div>
    <div class="right">
        <a href="~/Logout/Logout">
            <div class="logout"></div>
        </a>
    </div>
</div>

<br style="clear:both;" />

<div class="leftLamp">
    <div style="width:100%;">
        <a href="~/LampControl/Index">
            <div class="LampControl"></div>
        </a>
    </div>
</div>


<div class="middleUser">
    <div style="width:100%;">
        <a href="~/UserAdd/Index">
            <div class="UserSetup"></div>
        </a>
    </div>
</div>


<div class="rightStatistic">
    <div style="width:100%;">
        <a href="~/AdminStatistic/Index">
            <div class="Statistic"></div>
        </a>
    </div>

</div>

<br style="clear:both;" />

<div style="width:100%;">
    <div class="leftLampSetup">
        <a href="~/LampSetup/Index">
            <div class="LampSetup"></div>
        </a>

    </div>

    <div class="middleGroup">
        <a href="~/GroupSetup/Index">
            <div class="GroupSetup"></div>
        </a>
    </div>

    <div class="rightLampAssigment" style="text-align:center;">
        <a href="~/LampAssignment/Index">
            <div class="LampAssigment"></div>
        </a>
    </div>
</div>