
@{
    ViewBag.Title = "MainMenu";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<div style="width:100%;">
    <div class="left">
        <h2>Main Menu</h2>
    </div>

    <div class="middle">
        <h2>Admin</h2>
    </div>
    <div class="right" style="text-align:center;">
        <button class="logout" type="button"></button>
    </div>
</div>
