@model HicsMVC.BundleConfig

@{
    ViewBag.Title = "UserController/ChangePassword";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

@* = @using (Html.BeginForm("ChangePassword"(=ActionName), "User"(=ControllerName), FormMethod.Post)) *@
@using (Html.BeginForm())
    {
    <div style = "width:100%;" >
    <div class="left">
        <h2>Change Password</h2>
    </div>
    <div class="middle">
        <h2>User Name</h2>
    </div>
    <div class="right">
        <a href="~/Login/Login">
            <div class="logout"></div>
        </a>
        </div>
    </div>

    @*Löscht alle Floats*@
<br style="clear:both;"/>

    <div class="leftpadding">
        <div>
            <br />
            <p class="paragraphtext">Recent Password:</p>
            <input class="divinputpadding" type="password" name="RecentPassword" placeholder="Password123" required />
        </div>
        <div>
            <p class="paragraphtext">New Password:</p>
            <input class="divinputpadding" type="password" name="NewPassword" placeholder="Password789" required />
        </div>
        <div>
            <p class="paragraphtext">Retype Password:</p>
            <input class="divinputpadding" type="password" name="RetypePassword" placeholder="Password789" required />
        </div>
        <div class="bottomatbutton paddingtop">
            <input class="divinputpadding" type="submit" name="SaveButton" value="Save" />@* Submit-Button für Change Password *@
        </div>
    </div>
    <div style="width:100%;">
        <div class="left">
            <h2></h2>
        </div>

        <div class="middle">
            <h2></h2>
        </div>        
        <div class="right">
            <a href="~/User/Index">
                <div class="home"></div>
            </a>            
        </div>
    </div>
}


