
@{
    ViewBag.Title = "MainMenu";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div style="width:100%;">
    <div class="left">
        <h2>Main Menu</h2>
    </div>

    <div class="middle">
        <h2>Admin</h2>
    </div>
    <div class="right" style="text-align:center;">
        <button class="logout" type="button"></button>
    </div>
</div>

<br>

<div style="width:100%;">
    <div class="leftLamp">
        <button class="LampControl" type="button"></button> 
    </div>

    <div class="middleUser">
        <button class="UserSetup" type="button"></button>
    </div>
    <div class="rightStatistic" style="text-align:center;">
        <button class="Statistic" type="button"></button>
    </div>
</div>

<br>

<div style="width:100%;">
    <div class="leftLampSetup">
        <button class="LampSetup" type="button"></button>
    </div>

    <div class="middleGroup">
        <button class="GroupSetup" type="button"></button>
    </div>
    <div class="rightLampAssigment" style="text-align:center;">
        <button class="LampAssigment" type="button"></button>
    </div>
</div>


