@model 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}


<div class="left">
    <h2>Lamp Control</h2>
</div>


<div class="middle">
    <h2></h2>
</div>

<div class="right">
    <a href="~/Logout/Logout">
        <div class="logout"></div>
    </a>
</div>

<br style="clear:both;" />

<form>

    <div class="lampcontainer">
        <table class="lampcon">
            <tr class="tr">

                <th class="lampcontr"></th>
                <th class="lampcontr"></th>
                <th class="lampcontr"></th>
                <th class="lampcontr"></th>

                

            </tr>
            @foreach (var item in )
            {

                <tr class="tr">

                    <td class="lampcontd"></td>
                    <td class="lampcontd"></td>
                    <td class="lampcontr"></td>
                    <td class="lampcontr"></td>
                    <td class="lampcontd"></td>
                </tr>

            }
        </table>


    </div>

</form>
<div class="left">
    <h2></h2>
</div>


<div class="middle">
    <h2></h2>
</div>
<div class="right">
    <div style="width:100%;">
        <a href="~/Admin/Index">
            <div class="home1"></div>
        </a>
    </div>



</div>

<script type="text/javascript">


</script>