<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/MicronStylesheet.css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div>
            <img id="logo1" src="~/Resources/HicsLogoHeader 347x100.png" alt="HICSLogo" />
            <img id="logo2" src="~/Resources/Micron logo header 347x100.png" alt="MicronLogo" />
        </div>
    </header>
    <section class="container">@RenderBody()

    </section>
    <footer></footer>
</body>
</html>
