@model HicsMVC.Models.LogoutModel

@{
    ViewBag.Title = "LogoutController/Logout";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<h2>Logout</h2>

@* = @using (Html.BeginForm("Login"(=ActionName), "Login"(=ControllerName), FormMethod.Post)) *@

