
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MicronLayout.cshtml";
}

<div class="left">
    <h2>User Setup</h2>
</div>


<div class="middle">
    <h2>Admin/Username</h2>
</div>

<div class="right">
    <a href="~/Login/Login"><div class="logout"></div> </a>
    </div>
<br style="clear:both;" />

<div style="width:100%;height:800px;">

Inhalt


</div>
    <div style="width:100%;">
        <div class="left">
            <h2></h2>
        </div>

        <div class="middle">
            <h2></h2>
        </div>
        <div class="right">
            <div style="width:100%;">
                <a href="~/Admin/Index">
                    <div class="home"></div>
                </a>
            </div>
            
            </div>
        </div>




    
   



