<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="huedotnet.Hue" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <huedotnet.Hue>
            <setting name="BridgeIP" serializeAs="String">
                <value>192.168.0.22</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>f607842d6d3a0b305105e192b5ceb688
</value>
            </setting>
        </huedotnet.Hue>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
